<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <div class="social">
          <ul class="list-inline list-unstyled">
            <li class="list-inline-item ml-2">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item ml-2">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item ml-2">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item ml-2">
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li class="list-inline-item ml-2">
              <a href="#">
                <i class="fab fa-vimeo-v"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-9">
        <hr>
      </div>
      <div class="col-md-12 text-center">
        <p><span>@Copyright 2017-2018</span> - All Rights Reserved by <span>S.Seepun</span></p>
      </div>
    </div>
  </div>
</footer>