<div class="header-space"></div>

<!-- start about section -->
<section class="about top-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>About</h2>
      </div>
      <div class="col-md-6 mb-3 center">
        <img src="assets/img/about.jpg" alt="image">
      </div>
      <div class="col-md-6 mb-3 center">
        <div class="about-title">
          <p>We create a variety of videos that help businesses talk about themselves, their lives, ideas, solutions and products. This and image advertising, and promotional videos for products, and content for Internet works, and corporate videos, and video presentations, cases and even instructions.</p>
          <p>There are 10 specialists in the company's staff, they work on the development of the ideas of the commercials, writing scripts, directing, organizing filming, shooting and post-production of video.</p>
        </div>
      </div>
      <div class="col-md-12 mt-5">
        <h4>Four stages of product creation</h4>
      </div>
      <div class="col-md-3 mb-4">
        <div class="text-center">
          <i class="fas fa-lightbulb"></i>
          <h5>Cretaes of idea</h5>
          <div class="about-brdr"></div>
          <p>Video for the purpose and target audience of the client.</p>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="text-center">
          <i class="fas fa-clipboard-list"></i>
          <h5>Pre-Production</h5>
          <div class="about-brdr"></div>
          <p>Is the process of fixing some of the elements involved in a film, play, or other performance. </p>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="text-center">
          <i class="fas fa-video"></i>
          <h5>Production</h5>
          <div class="about-brdr"></div>
          <p>It is the equivalent of filmmaking, but with images recorded digitally instead of on film stock.</p>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="text-center">
          <i class="fas fa-tv"></i>
          <h5>Post-Productio</h5>
          <div class="about-brdr"></div>
          <p>Is part of the process of filmmaking, video production, and photography.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->

<!-- start portfolio section -->
<section class="project">
  <div class="container">
    <div class="col-md-12">
      <h2>Showcase</h2>
    </div>
    <div class="col-md-12 text-center">
      <ul class="list-inline list-unstyled filter">
        <li class="list-inline-item">
          <a class="active-f" data-filter="*">All</a>
        </li>
        <li class="list-inline-item">
          <a data-filter=".photo">Photo</a>
        </li>
        <li class="list-inline-item">
          <a data-filter=".video">Video</a>
        </li>
      </ul>
    </div>
    <div class="row project-container">
        <div class="col-md-3 col-6 project-item photo">
          <a class="item-image" href="assets/img/work/1.jpg">
            <img src="assets/img/work/1.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item photo">
          <a class="item-image" href="assets/img/work/2.jpg">
            <img src="assets/img/work/2.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item video">
          <a class="item-video" href="#"> <!-- paste the link to the video instead of # -->
            <i class="fas fa-play"></i>
            <img src="assets/img/work/3.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item photo">
          <a class="item-image" href="assets/img/work/4.jpg">
            <img src="assets/img/work/4.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item video">
          <a class="item-video" href="#"> <!-- paste the link to the video instead of # -->
            <i class="fas fa-play"></i>
            <img src="assets/img/work/5.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item video">
          <a class="item-video" href="#"> <!-- paste the link to the video instead of # -->
            <i class="fas fa-play"></i>
            <img src="assets/img/work/6.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item photo">
          <a class="item-image" href="assets/img/work/8.jpg">
            <img src="assets/img/work/8.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item video">
          <a class="item-video" href="#"> <!-- paste the link to the video instead of # -->
            <i class="fas fa-play"></i>
            <img src="assets/img/work/7.jpg" alt="image">
          </a>
        </div>
    </div>
  </div>
</section>
<!-- end portfolio section -->