<div class="loader"><div class="loader-inner"></div></div>

<!-- start home section -->
<section id="home" class="home video-ytb">
  <div class="home-table">
    <div class="home-table-cell">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <h4>- Welcome To Our -</h4>
            <h1>SS Manager</h1>
            <p>&ldquo;Manage you PDF forms easier like never before.&rdquo;</p>
            <a href="#project" class="btn btn-primary mx-auto">Our Showcase</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end home section -->

<!-- start team section -->
<section id="team" class="team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2>Team</h2>
      </div>
      
      <div class="col-md-4 col-6 mb-3">
        <div class="people">
          <div class="people-img">
            <img src="assets/img/team/1.jpg" alt="image">
          </div>
          <div class="people-inf">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="people-title">
          <h6>Name</h6>
          <p>Profession</p>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-3">
        <div class="people">
          <div class="people-img">
            <img src="assets/img/team/2.jpg" alt="image">
          </div>
          <div class="people-inf">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="people-title">
          <h6>Name</h6>
          <p>Profession</p>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-3">
        <div class="people">
          <div class="people-img">
            <img src="assets/img/team/3.jpg" alt="image">
          </div>
          <div class="people-inf">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="people-title">
          <h6>Name</h6>
          <p>Profession</p>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-3">
        <div class="people">
          <div class="people-img">
            <img src="assets/img/team/4.jpg" alt="image">
          </div>
          <div class="people-inf">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="people-title">
          <h6>Name</h6>
          <p>Profession</p>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-3">
        <div class="people">
          <div class="people-img">
            <img src="assets/img/team/4.jpg" alt="image">
          </div>
          <div class="people-inf">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="people-title">
          <h6>Name</h6>
          <p>Profession</p>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- end team section -->

<!-- start statistic -->
<div id="statistic" class="statistic">
  <div class="statistic-table">
    <div class="statistic-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-4 text-center">
            <i class="fas fa-thumbs-up"></i>
            <p class="counter">22</p>
            <h4>Likes</h4>
          </div>
          <div class="col-md-4 col-4 text-center">
            <i class="fas fa-users"></i>
            <p class="counter">511</p>
            <h4>Visitors</h4>
          </div>
          <div class="col-md-4 col-4 text-center">
            <i class="fas fa-user"></i>
            <p class="counter">6</p>
            <h4>Team</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end statistic -->

<!-- start portfolio section -->
<section id="project" class="project">
  <div class="container">
    <div class="col-md-12">
      <h2>Showcase</h2>
    </div>
    <div class="col-md-12 text-center">
      <ul class="list-inline list-unstyled filter">
        <li class="list-inline-item">
          <a class="active-f" data-filter="*">All</a>
        </li>
        <li class="list-inline-item">
          <a data-filter=".photo">Photo</a>
        </li>
        <li class="list-inline-item">
          <a data-filter=".video">Video</a>
        </li>
      </ul>
    </div>
    <div class="row project-container">
        <div class="col-md-3 col-6 project-item photo">
          <a class="item-image" href="assets/img/work/1.jpg">
            <img src="assets/img/work/1.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item photo">
          <a class="item-image" href="assets/img/work/2.jpg">
            <img src="assets/img/work/2.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item video">
          <a class="item-video" href="#"> <!-- paste the link to the video instead of # -->
            <i class="fas fa-play"></i>
            <img src="assets/img/work/3.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item photo">
          <a class="item-image" href="assets/img/work/4.jpg">
            <img src="assets/img/work/4.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item video">
          <a class="item-video" href="#"> <!-- paste the link to the video instead of # -->
            <i class="fas fa-play"></i>
            <img src="assets/img/work/5.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item video">
          <a class="item-video" href="#"> <!-- paste the link to the video instead of # -->
            <i class="fas fa-play"></i>
            <img src="assets/img/work/6.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item photo">
          <a class="item-image" href="assets/img/work/8.jpg">
            <img src="assets/img/work/8.jpg" alt="image">
          </a>
        </div>
        <div class="col-md-3 col-6 project-item video">
          <a class="item-video" href="#"> <!-- paste the link to the video instead of # -->
            <i class="fas fa-play"></i>
            <img src="assets/img/work/7.jpg" alt="image">
          </a>
        </div>
    </div>
  </div>
</section>
<!-- end portfolio section -->

<!-- start about section -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>About</h2>
      </div>
      <div class="col-md-6 mb-3 center">
        <img src="assets/img/about.jpg" alt="image">
      </div>
      <div class="col-md-6 mb-3 center">
        <div class="about-title">
          <p>We create a variety of videos that help businesses talk about themselves, their lives, ideas, solutions and products. This and image advertising, and promotional videos for products, and content for Internet works, and corporate videos, and video presentations, cases and even instructions.</p>
          <p>There are 10 specialists in the company's staff, they work on the development of the ideas of the commercials, writing scripts, directing, organizing filming, shooting and post-production of video.</p>
        </div>
      </div>
      <div class="col-md-12 mt-5">
        <h4>Four stages of product creation</h4>
      </div>
      <div class="col-md-3 mb-4">
        <div class="text-center">
          <i class="fas fa-lightbulb"></i>
          <h5>Cretaes of idea</h5>
          <div class="about-brdr"></div>
          <p>Video for the purpose and target audience of the client.</p>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="text-center">
          <i class="fas fa-clipboard-list"></i>
          <h5>Pre-Production</h5>
          <div class="about-brdr"></div>
          <p>Is the process of fixing some of the elements involved in a film, play, or other performance. </p>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="text-center">
          <i class="fas fa-video"></i>
          <h5>Production</h5>
          <div class="about-brdr"></div>
          <p>It is the equivalent of filmmaking, but with images recorded digitally instead of on film stock.</p>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="text-center">
          <i class="fas fa-tv"></i>
          <h5>Post-Productio</h5>
          <div class="about-brdr"></div>
          <p>Is part of the process of filmmaking, video production, and photography.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->

<!-- start contact section -->
<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Contact</h2>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-map-marker-alt"></i>
        <p>Ukraine, Kiev, st. Holoseyevskaya 88</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-at"></i>
        <p>info@yourdomain.com</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-mobile"></i>
        <p>+38(098) 333-55-88</p>
      </div>
      <div class="col-md-12 mt-4">
        <form id="form">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name*" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email*" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input class="form-control" type="tel" name="phone" placeholder="Phone">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" name="text" rows="8" placeholder="Message*" required></textarea>
              </div>
            </div>
            <button class="btn btn-success" type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->