<div class="header-space"></div>

<section class="contact top-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="margin-bottom:25px;">{{_t.translate('Sign Up')}}</h2>
      </div>
      
      <div class="col-md-1 col-lg-2"></div>
      <div class="col-md-10 col-lg-8 mt-4">

        <form #register="ngForm" (ngSubmit)="registerMember(register)" ngNativeValidate>
          <div class="row justify-content-center">
            
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                {{_t.translate('First name')}}
                <input class="form-control" type="text" name="firstname" value="" ngModel required>
                <div class="error-message"></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                {{_t.translate('Last name')}}
                <input class="form-control" type="text" name="lastname" value="" ngModel required>
                <div class="error-message"></div>
              </div>
            </div>
            
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                {{_t.translate('Username')}} ({{_t.translate('used for singing in')}})
                <input class="form-control" type="text" name="username" value="" ngModel required>
                <div class="error-message">
                  <span *ngIf="usernameInUse">*{{_t.translate('Username is already in use')}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                {{_t.translate('E-mail address')}}
                <input class="form-control" type="email" name="email" value="" ngModel required>
                <div class="error-message">
                  <span *ngIf="emailInUse">*{{_t.translate('E-mail is already in use')}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                {{_t.translate('Password')}} ({{_t.translate('5 letters minimum')}})
                <input class="form-control" type="password" name="password" value="" ngModel required>
                <div class="error-message">
                  <span *ngIf="passTooShort">*{{_t.translate('Password is too short')}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 last-row">
              <div class="form-group">
                {{_t.translate('Confirm password')}}
                <input class="form-control" type="password" name="confirmPassword" value="" ngModel required>
                <div class="error-message">
                  <span *ngIf="passNotMatch">*{{_t.translate('Password does not match')}}</span>
                </div>
              </div>
            </div>
            
            <button class="btn btn-success" type="submit" style="padding:6px 20px;">{{_t.translate('Sign Up')}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>