/* You can add global styles to this file, and also import other style files */
body {overflow-y: scroll;}
.app-container {min-height: calc(100vh - 150px);}

nav {z-index: 1000;}
.header-space {
    position: sticky; top: 0; background: #000000; height: 72px; opacity: 1;
    transition: .4s opacity, .4s height; z-index: 900;
}
.header-space.sticky {opacity: 0; height: 59px;}
.loader {z-index: 800;}

.top-section {padding-top: 4rem; clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 96%, 0 100%);}
.last-row {margin-bottom: 35px;}

.content-section {padding: 4rem 0 1.5rem 0;}
.content-section .container {max-width: calc(100vw - 120px) !important;}

.list-header {font-size: 26px; padding-bottom: 10px; margin-bottom: 22px; text-align: left;}
.list-item {
    font-size: 15px; padding-bottom: 9px; margin-bottom: 9px; pointer-events: all; cursor: pointer;
    opacity: 0.6; padding-left: 0; outline: none; transition: all .5s; text-transform: capitalize;
}
.list-item.active {opacity: 1; font-weight: 600;}
.list-item:hover {padding-left: 12px; opacity: 1;}
.list-item i {font-size: 11px; padding-right: 8px; border: 0 !important;}

.table-criteria-container {margin-bottom: 20px;}
.table-criteria {margin-bottom: 10px;}
.table-criteria .form-control {display: inline-block; margin-left: 5px;}
.table-search .btn {margin-top: -1.5px;}

.form-selection-container {padding: 8.5px;}
.form-selection-container:active, .form-selection-container:focus {
    border: 0; text-decoration: none; outline-width: 0;
}
.form-container {margin-bottom: 30px;}
.form-container h2 {width: 100%;}
.form-selection {padding: 12px; position: relative; pointer-events: all; cursor: pointer; border-radius: 5px;}
.form-selection img {width: 100%; height: 11.5vw;}
.form-selection .form-cover {
    position: absolute; top: 12px; background: rgba(0,0,0,0); opacity: 0;
    width: calc(100% - 24px); height: 11.5vw; transition: .3s background, .3s opacity;
}
.form-selection:hover .form-cover {background: rgba(0,0,0,.75); opacity: 1;}
.form-selection .form-owner {text-align: left; font-size: 15px; color: #f7ca18; margin: 10px 0 0 0;}
.form-selection .form-desc {margin: 5px 0 0 0; line-height: 22px; min-height: 44px;}
.form-selection .form-date {margin: 10px 0 0 0; font-size: 12px;}
.form-selection .form-date span {font-weight: 600;}
.result-err-table-text {margin: 25px 0;}
.no-transition {transition: 0s all !important;}

.form-table-header {text-align: left; font-size: 28px; margin-bottom: 40px;}
.form-table-btn-container {margin-bottom: 25px; overflow: hidden; text-align: center;}
.form-table-btn-container > input {float: right; min-width: 120px;}

.pagination-wraper {width: 100%; text-align: center;}
.pagination-wraper li {
    display: inline-block; list-style: none; vertical-align: middle;
    text-align: center; pointer-events: none;
}
.pagination-wraper li.active {pointer-events: all; cursor: pointer;}
.pagination-wraper li span {
    float: left; width: 40px; height: 40px; font-size: 16px;
    margin-right: 7px; padding-top: 6px; transition: all .2s;
}
.pagination-wraper li span, .pagination-wraper li span i {font-size: 16px}

.table-container {width: 100%; padding: 10px 15px;}
.table-container table {width: 100%;}
th, td {text-align: center; font-size: 14px; padding: 8px 12px;}
td i {font-size: 16px !important; margin: 0 !important; cursor: pointer;}
th {font-size: 15px;}
.col-left {text-align: left;}

.alert {
    float: right; color: #fff; width: 30px; font-weight: 600; text-align: center; border-radius: 4px;
    padding: 0; margin: 0; pointer-events: none;
}
.form-pending-warning {
    position: absolute; top: 0; right: 0; width: 40px; border-radius: 4px; pointer-events: none;
    color: #fff; font-weight: 600; text-align: center; padding: 4px 0;
}

.form-actions-container {
    padding: 25px 45px; width: 100%; overflow: hidden; border: 1px solid; border-radius: 5px;
}
input[type=file] {padding: 3.1px;}
.form-preview-display {display: block; width: 225px; height: auto; border-radius: 5px; border: 1px solid;}
.form-preview-delete {
    display: inline-block; font-size: 16px !important; cursor: pointer;
    font-weight: 600; margin: 0 0 0 6px !important;
}


/* START: SS-PDF */
.ng2-pdf-viewer-container {overflow: hidden !important;}
.ss-pdf-section {padding: 2rem 0;}
.ss-pdf-content {position: relative;}

.ss-form-input, .ss-profile, .ss-signature {
    position: absolute; border: 0; background: rgba(248,255,156,.75); border-radius: 2px;
}
.ss-profile img {position: absolute; width: 100%; height: auto;}
.ss-form-input {padding-left: 10px; padding-right: 10px;}
.ss-form-input:focus {background: #f8ff9c; border: 1.5px solid #228ae6; border-radius: 2px;}
.ss-form-input[type=text] {color: #000;}
.ss-form-input:disabled, .ss-signature.disabled, .ss-profile.disabled {
    border: none; background: none; pointer-events: none; font-weight: 600;
}

.ss-button-container {
    position: fixed; top: calc(100vh - 50px); right: 10px; padding: 15px 15px 17px 15px;
    width: 260px; transition: .45s top; border-radius: 5px; z-index: 700;
}
.ss-button-container.new-mode:hover {top: calc(100vh - 160px);}
.ss-button-container.view-mode:hover {top: calc(100vh - 160px);}
.ss-button-container.admin-view-mode1:hover {top: calc(100vh - 302px);}
.ss-button-container.admin-view-mode2:hover {top: calc(100vh - 254px);}
.ss-button-container.edit-mode:hover {top: calc(100vh - 207px);}

.ss-btn-title {margin-bottom: 10px; font-size: 20px;}
.ss-button-container .btn {width: 100%; margin-top: 15px;}

.text-medium {font-size: 26px;}
.ss-result-button-container {text-align: center;}
.ss-result-button-container .btn {margin: 0 2px; min-width: 180px;}

.checkbox-no, .checkbox-yes {background: none;}
.checkbox-yes > i {position: absolute; top: 1px; left: 2px; font-size: 15px;}

.ss-dowloading {
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; text-align: center;
    transition: .6s opacity; opacity: 1; z-index: 850; padding-top: 53vh;
}
.ss-dowloading.inactive {opacity: 0;}
.ss-dowloading h2 {font-family: 'Passion One', sans-serif;}
/* END: SS-PDF */


/* START: Popup box */
.box-popup, .big-box-popup {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; min-height: 300px;
}
.big-box-popup {position: fixed; width: 100vw; height: 100vh; z-index: 800;}

.box-popup .box-popup-container, .big-box-popup > .box-popup-container {
    display: block; margin: 40px auto; width: 70%; border-radius: 10px;
    min-height: 120px; position: relative; border: 4px solid; padding: 20px 20px;
    -webkit-animation: animation 1000ms linear both;
	animation: animation 1000ms linear both;
}
.box-popup .box-popup-container {
    position: fixed; width: calc((100vw - 120px) * 3 / 4 - 200px); margin: 40px 100px;
}

.big-box-popup > .box-popup-container {margin-top: calc(70px + 20vh);}
.box-popup .box-popup-container > h2,
.big-box-popup > .box-popup-container > h2 {margin: 0 0 20px 0; font-size: 28px;}
.box-popup .box-popup-container > h4,
.big-box-popup > .box-popup-container > h4 {font-size: 20px; font-weight: 300; text-align: left;}
.box-popup .box-popup-container > h4 > strong,
.bigbox-popup > .box-popup-container > h4 > strong {font-weight: 600;}
.box-popup .box-popup-container > .box-popup-btn-container,
.big-box-popup > .box-popup-container > .box-popup-btn-container {margin-top: 20px;}
.box-popup .box-popup-container > .box-popup-btn-container > input,
.big-box-popup > .box-popup-container > .box-popup-btn-container > input {
    margin: 5px 3px 0 3px; min-width: 120px;
}
/* END: Popup box */


/* START: Notification */
.notification-container {
    position: fixed; top: 80px; left: calc(100vw - 310px); z-index: 1100;
}
.notification-container > .notification {
    position: relative; width: 285px; font-size: 18px; line-height: 28px;
    padding: 8px 35px 8px 15px; font-weight: 600; color: #fff;
    background: orange; border-radius: 10px; display: block; 
    -webkit-animation: animation 1000ms linear both;
	animation: animation 1000ms linear both;
}
.notification-close {position: absolute; top: 4px; right: 5px; cursor: pointer; transition: .3s all;}
.notification-close:hover {opacity: .6;}
/* END: Notification */


/* START: Utility style */
strong, .strong {font-weight: 600;}

.main-color {color: #f7ca18 !important;}
.main-bg {background: #f7ca18 !important;}
.primary-color, .primary {color: #007bff !important;}
.primary-bg {background: #007bff !important;}
.primary-border {border-color: #007bff !important;}
.success-color, .success {color: #28a745 !important;}
.success-bg {background: #28a745 !important;}
.info-color, .info {color: #17a2b8 !important;}
.info-bg {background: #17a2b8 !important;}
.warning-color, .warning {color: #ffc107 !important;}
.warning-bg {background: #ffc107 !important;}
.danger-color, .danger {color: #dc3545 !important;}
.danger-bg {background: #dc3545 !important;}
.danger-border {border-color: #c82333 !important;}

.separator {clear: both; width: 100%; height: 1px;}
.delimeter-sm {clear: both; width: 100%; height: 10px;}
.delimeter {clear: both; width: 100%; height: 15px;}
.delimeter-md {clear: both; width: 100%; height: 20px;}
.delimeter-lg {clear: both; width: 100%; height: 25px;}
.delimeter-xl {clear: both; width: 100%; height: 30px;}

.error-box {min-height: 40px; margin-top: -8px; color: #dc3545;}
.error-message {min-height: 24px; color: #dc3545;}
/* END: Utility style */


/* START: Animation */
@-webkit-keyframes animation { 
    0% { -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.4% { -webkit-transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { -webkit-transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.81% { -webkit-transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.21% { -webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.61% { -webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { -webkit-transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.52% { -webkit-transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.32% { -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { -webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.23% { -webkit-transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.03% { -webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { -webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.74% { -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    44.44% { -webkit-transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    59.86% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    75.28% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    90.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}
@keyframes animation { 
    0% { -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.4% { -webkit-transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { -webkit-transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.81% { -webkit-transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.21% { -webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.61% { -webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { -webkit-transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.52% { -webkit-transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.32% { -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { -webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.23% { -webkit-transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.03% { -webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { -webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.74% { -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    44.44% { -webkit-transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    59.86% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    75.28% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    90.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}
/* END: Animation */

@media (max-width: 1199.98px) {
    .box-popup .box-popup-container {width: calc((100vw - 120px) * 3 / 4 - 160px); margin: 40px 80px;}
}

@media (max-width: 991.98px) {
    .content-section .container {max-width: calc(100vw - 60px) !important;}
    .form-selection img, .form-selection img, .form-selection .form-cover {height: 15.5vw;}
    .box-popup .box-popup-container {width: calc((100vw - 60px) * 2 / 3 - 80px); margin: 40px 40px;}
}

@media (max-width: 767.98px) {
    .last-row {margin-bottom: 25px;}
    .list-header {text-align: center;}

    .list-item {border: 0; float: left; width: 33.333%; text-align: center; height: 30px;}
    .list-item i {display: none;}

    .form-table-header {margin-bottom: 15px; text-align: center;}
    .form-table-btn-container {margin-bottom: 20px;}
    .form-table-btn-container > input {float: none;}

    .table-criteria-container {margin: 5px 0 20px 0; padding: 20px 0 0 0;}
    .form-selection img, .form-selection img, .form-selection .form-cover {height: 23vw;}

    .box-popup .box-popup-container {padding: 15px;}
    .box-popup .box-popup-container > h2 {font-size: 24px; line-height: 28px;}
    .box-popup .box-popup-container > h4 {font-size: 18px;}
    .box-popup .box-popup-container {width: calc((100vw - 60px) - 120px); margin: 30px 60px;}

    .md-space-top {padding-top: 25px; margin-top: 5px;}
}

@media (max-width: 650.98px) {
    .list-item {width: 50%;}
    .box-popup .box-popup-container {width: calc((100vw - 60px) - 90px); margin: 30px 45px;}
}

@media (max-width: 575.98px) {
    .header-space {height: 46px;}
    .header-space.sticky {height: 41px;}
    .form-selection img, .form-selection img, .form-selection .form-cover {height: 48vw;}
    .box-popup .box-popup-container {width: calc((100vw - 60px) - 60px); margin: 30px 30px;}
}

@media (max-width: 450.98px) {
    .list-item {width: 100%;}
}